a.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;

  }
  
  .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  
  .btn i {
    margin-right: 6px;
  }
  
  @media (max-width: 767px) {
    .btn {
      padding: 6px 4px;
      font-size: 12px;
    }
  }
  
  .fixed-footer {
    width: 100%;
    position: absolute;
    left: 20%;
    top: 95%;
    background: white;
    margin: 0px 10px 10px;
    padding: 0px 2px;
    color: grey;
    text-align: center;
    font-size: 14px;
  }
  .fixed-footer {
    bottom: 0;
  }
  
/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.judul{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  color: black;
  font-style: bold;
}